<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>companyName</param-name>
        <param-value>MiloGoh</param-value>
    </context-param>
    <context-param>
        <param-name>copyRight</param-name>
        <param-value>All Right Reserved 2024 DCS Group 1</param-value>
    </context-param>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>servlet.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>servlet.AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageItemServlet</servlet-name>
        <servlet-class>servlet.ManageItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>servlet.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailPage</servlet-name>
        <servlet-class>servlet.ProductDetailPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>servlet.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockServlet</servlet-name>
        <servlet-class>servlet.StockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopUpServlet</servlet-name>
        <servlet-class>servlet.TopUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>servlet.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusFilterServlet</servlet-name>
        <servlet-class>servlet.StatusFilterServlet</servlet-class>
    </servlet>
    <!--    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageItemServlet</servlet-name>
        <url-pattern>/ManageItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/ManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailPage</servlet-name>
        <url-pattern>/ProductDetailPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/StaffProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockServlet</servlet-name>
        <url-pattern>/StockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopUpServlet</servlet-name>
        <url-pattern>/TopUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statusFilterServlet</servlet-name>
        <url-pattern>/statusFilterServlet</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>DeleteReviewServlet</servlet-name>
        <servlet-class>servlet.DeleteReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyReviewServlet</servlet-name>
        <servlet-class>servlet.ModifyReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <servlet-class>servlet.SubmitReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductIncreaseQtyServlet</servlet-name>
        <servlet-class>servlet.ProductIncreaseQtyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDecreaseQtyServlet</servlet-name>
        <servlet-class>servlet.ProductDecreaseQtyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>servlet.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>servlet.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPromotion</servlet-name>
        <servlet-class>servlet.AddPromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPromotion</servlet-name>
        <servlet-class>servlet.viewPromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePromotion</servlet-name>
        <servlet-class>servlet.managePromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPromotionDetail</servlet-name>
        <servlet-class>servlet.viewPromotionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initializeServlet</servlet-name>
        <servlet-class>servlet.initializeServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>startupServlet</servlet-name>
        <servlet-class>servlet.startupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteReviewServlet</servlet-name>
        <url-pattern>/DeleteReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyReviewServlet</servlet-name>
        <url-pattern>/ModifyReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <url-pattern>/SubmitReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductIncreaseQtyServlet</servlet-name>
        <url-pattern>/ProductIncreaseQtyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDecreaseQtyServlet</servlet-name>
        <url-pattern>/ProductDecreaseQtyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPromotion</servlet-name>
        <url-pattern>/AddPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPromotion</servlet-name>
        <url-pattern>/viewPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePromotion</servlet-name>
        <url-pattern>/managePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPromotionDetail</servlet-name>
        <url-pattern>/viewPromotionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initializeServlet</servlet-name>
        <url-pattern>/initializeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>startupServlet</servlet-name>
        <url-pattern>/startupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/ErrorPage.jsp</location>
    </error-page>
</web-app>
