body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: auto;
    overflow-y: hidden;
    background: rgb(227, 242, 253);
}

form {
    padding-left: 250px;
    padding-top:20px;
    background: rgb(227, 242, 253);
    min-height: 90%;
    width: 100vw;
    overflow-x:hidden;
}

.container {
    display:block;
    background: rgb(227, 242, 253);
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.card-body {
    background: white;
}

#manageCustomer .nav-link{
    padding: 0;     /*override nav link*/
}